<div class="auth-container">
  <div class="auth-card">
    
    <div class="header-content">
      <mat-icon>security</mat-icon>
      <h2>Cambio Obligatorio</h2>
      <p>Por políticas de seguridad, debes actualizar la contraseña temporal que te enviamos por correo.</p>
    </div>

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="auth-form">
      
      <mat-form-field appearance="outline">
        <mat-label>Contraseña Temporal Actual</mat-label>
        <input matInput formControlName="current_password" [type]="hideCurrent ? 'password' : 'text'">
        <mat-icon matPrefix>key</mat-icon>
        <button mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent" type="button">
          <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nueva Contraseña Segura</mat-label>
        <input matInput formControlName="new_password" [type]="hideNew ? 'password' : 'text'">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix (click)="hideNew = !hideNew" type="button">
          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.get('new_password')?.hasError('minlength')">
          Debe tener al menos 8 caracteres.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar Nueva Contraseña</mat-label>
        <input matInput formControlName="re_new_password" [type]="hideConfirm ? 'password' : 'text'">
        <mat-icon matPrefix>lock_clock</mat-icon>
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button">
          <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.hasError('mismatch')">
          Las contraseñas no coinciden.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="passwordForm.invalid || isLoading">
        <mat-icon *ngIf="!isLoading">save</mat-icon>
        <mat-icon *ngIf="isLoading" class="spin">autorenew</mat-icon>
        {{ isLoading ? 'Guardando...' : 'Cambiar y Entrar' }}
      </button>

    </form>
  </div>
</div>
