<div class="warning-header">
  <mat-icon color="warn">warning</mat-icon>
  <h1 mat-dialog-title>Advertencia de Stock Bajo</h1>
</div>

<div mat-dialog-content>
  <p>¡Venta registrada! Sin embargo, los siguientes productos están por agotarse:</p>

  <mat-list role="list">
    <mat-list-item *ngFor="let product of data.products" role="listitem">
      <mat-icon matListItemIcon>inventory_2</mat-icon>
      <div matListItemTitle>{{ product.nombre }}</div>
      <div matListItemLine>
        Quedan solo <strong>{{ product.cantidad_stock }}</strong> unidades.
      </div>
    </mat-list-item>
  </mat-list>
</div>

<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onOkClick()" cdkFocusInitial>
    Entendido
  </button>
</div>
