.warning-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f44336; // Color 'warn'

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
  h1 {
    margin: 0;
    color: #f44336;
  }
}
