$color-bg-card: #1e293b;
$color-text-main: #f1f5f9;

mat-toolbar {
  background-color: $color-bg-card !important;
  color: $color-text-main !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

button mat-icon {
  color: $color-text-main;
}