.confirm-sale-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

  mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
  }
  h1 {
    margin: 0;
  }
}
.total-display {
  margin: 0;
  font-size: 1rem;
}
.total-amount {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
}
