<div class="form-container" style="padding: 20px;">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">

    <mat-form-field appearance="outline">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput type="email" id="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" id="password" formControlName="password">
    </mat-form-field>

    <div *ngIf="loginError" class="alert-danger" style="color: red; margin-bottom: 16px;">
      Correo o contraseña incorrectos.
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid">
      Entrar
    </button>

  </form>
</div>
