<div class="form-container" style="padding: 20px;">
  <h2>Crear Cuenta</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: column;">

    <mat-form-field appearance="outline">
      <mat-label>Nombre(s)</mat-label>
      <input matInput type="text" id="nombre" formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input matInput type="text" id="apellidos" formControlName="apellidos">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput type="email" id="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" id="password" formControlName="password">
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid">
      Registrarse
    </button>

  </form>
</div>
