.dashboard-container {
  width: 100%;
  height: 100vh; /* Ocupa el 100% de la altura de la vista */
}

.sidebar {
  width: 260px; /* Ancho fijo para el menú */
}

.main-content {
  background-color: #fafafa; /* Un fondo ligero para el contenido */
}
