

  .filter-row {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;

    mat-form-field {
      margin-bottom: 0;

      ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }

    .small-input {
      width: 100px;
    }
  }

  .separator {
    height: 1px;
    background-color: $color-border;
    margin: 24px 0;
    width: 100%;
  }
