<footer class="footer-container">
  <div class="footer-content">

    <div class="brand-section">
      <span class="brand-name">StoreHub</span>
      <span class="copyright">© {{ currentYear }} Todos los derechos reservados.</span> <!-- Ocupamos la variable currentYear (que declaramos en el archivo .ts) para obtener el año actual -->
    </div>

    <div class="links-section">
      <a mat-button class="footer-link">Términos</a>
      <a mat-button class="footer-link">Privacidad</a>

      <a mat-icon-button aria-label="Facebook">
        <mat-icon>public</mat-icon> </a>
      <a mat-icon-button aria-label="Contacto">
        <mat-icon>email</mat-icon>
      </a>
    </div>

  </div>
</footer>